<%- include('../partials/header') %>


<section style="padding:2rem;">
  <h2>Admin Dashboard</h2>
  <p><button style="  background-color:#274d90;
  color: white;
  border: none;
  padding: 0.9rem;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;"><a href="/admin/logout" style="text-decoration: none; color: aliceblue;">Logout</a></button></p>

  <div style="margin-top: 2rem;">
    <a href="/admin/add-project" style="text-decoration: none; color:#274d90; font-weight: 500;" >➕ Add Education</a>
    <!-- Similar links for skills, experience -->
  </div>
  <div style="margin-top: 2rem;">
    <a href="/admin/add-project" style="text-decoration: none; color:#274d90; font-weight: 500;" >➕ Add New Skills</a>
    <!-- Similar links for skills, experience -->
  </div>
  <div style="margin-top: 2rem;">
    <a href="/admin/add-project" style="text-decoration: none; color:#274d90; font-weight: 500;" >➕ Add New Project</a>
    <!-- Similar links for skills, experience -->
  </div>
</section>

<%- include('../partials/footer') %>
