<%- include('partials/header') %>
<section>
  <h2>About Me</h2>
  <p>I'm Graphic Designer & Full Stack developer</p>
  <hr>
  <h4>Education Info</h4>
  <div>
    <h5>SSC (2020)</h5>
    <p>Adarsh Nivasi Shala -Junagadh</p>
    <p>Result: <b>84.33%</b></p>
  </div>
  <div>
    <h5>HSC(Science) (2022)</h5>
    <p>Alpha High School-Junagadh</p>
    <p>Result: <b>79.54%</b></p>
  </div>
  <div>
    <h5>Bachelor of Engineering(2022-2026)</h5>
    <p>Computer Engineering</p>
    <p>L. D. College Of Engineering - Ahmedabad</p>
    <p>Result: <b>8.04 CGPA</b></p>
  </div>
  <hr>
 <h4>Skills</h4>

  <div class="skills-container">
    <div class="skill-category">
      <h5>Coding Skills</h5>
      <ul>
        <li>DSA</li>
        <li>Java</li>
        <li>Python</li>
        <li>C Language</li>
        <li>Front-End Development</li>
        <li>Back-End Development</li>
      </ul>
    </div>

    <div class="skill-category">
      <h5>Graphic Design Skills</h5>
      <ul>
        <li>Canva</li>
        <li>Figma</li>
        <li>Typography</li>
        <li>Color Theory</li>
        <li>Adobe Express</li>
        <li>Video Editing</li>
      </ul>
    </div>
  </div>

  <hr>

  <h4>Experience</h4>
  <div class="experience-box">
    <p><strong>Role:</strong> Graphic Designer</p>
    <p>I work as a Graphic Designer for the LDCE Social Media Team</p>
    <p><strong>Year:</strong> February 2024 – May 2025</p>
  </div>
</section>
<%- include('partials/footer') %>