<%- include('partials/header') %>

<section class="hero">
  <div class="hero-container">
    <div class="hero-text">
      <h1>Hello, I'm <span>Prakash Rathod</span></h1>
      <p>I'm a graphic designer, web developer, and athlete with a passion for creativity, technology, and fitness.</p>
    </div>
    <div class="hero-image">
      <img src="/images/portfolia website.jpg" alt="prakash" class="profile-photo" />
    </div>
  </div>
</section>

<%- include('partials/footer') %>