<%- include('partials/header') %>
<style>
 .projects-section {
  padding: 3rem 1.5rem;
  background-color: #f9fafb;
  max-width:1400px ;
}
.skill-section {
  padding: 1.5rem 0.75rem;
  background-color: #f9fafb;
  max-width:600px ;
}

.skills-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: auto;
}

.skill-card {
  background-color: white;
  padding: 2rem;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.project-actions {
  display: flex;
  justify-content: center;
  background-color: transparent;
  gap: 1rem;
  flex-wrap: wrap;
}
.btn {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.95rem;
  color: white;
  cursor: pointer;
  transition: background 0.2s;
}

.btn.code {
  background-color: #24292e;
}

.btn.code:hover {
  background-color: #444c56;
}

.btn.demo {
  background-color: #173472;
}

.btn.demo:hover {
  background-color: #1e40af;
}

.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.1);
}

.skill-card h3 {
  margin: 1rem 0 0.5rem;
  font-size: 1.2rem;
  color: #111827;
}

.skill-card p {
  font-size: 0.9rem;
  color: #6b7280;
  margin-bottom: 1.5rem;
}
.header{
  font-size: xx-large;
  font-weight: 600;
  text-align: center;
}
</style>
<section class="hero">
  <div class="hero-container">
    <div class="hero-text">
      <h1>Hello, I'm <span>Prakash Rathod</span></h1>
      <p>
        I'm a graphic designer, web developer, and athlete with a passion for
        creativity, technology, and fitness.
        <br>
        <br>
            <a href="https://github.com/rathodprakash-123" target="_blank" class="btn code"><i class="fa-brands fa-github"></i>&nbsp;Github</a>
            <a href="https://www.linkedin.com/in/rathod-prakash-286ab3261/" target="_blank" class="btn demo"><i class="fa-brands fa-linkedin-in"></i>&nbsp;Linkden</a>
      </p>
    </div>
    <div class="hero-image">
      <img
        src="/images/portfolia website.jpg"
        alt="prakash"
        class="profile-photo"
      />
    </div>
  </div>
</section>

<section class="projects-section">
  <h2 class="header">Development</h2>
  <div class="skills-wrapper">
    <div class="skill-card">
        <img src="/images/mongo.png" alt="MongoDB" style="width: 60px; height: 60px;" />
      
      <h3>MongoDB</h3>
      <p>The ability to design, manage, and optimize NoSQL databases, specifically focusing on MongoDB</p>
    </div>
    <div class="skill-card">
      
        <img src="/images/javaScipt.png" alt="JavaScript" style="width: 50px; height: 50px;" />
      
      <h3 style="margin-top: 25px;">JavaScript</h3>
      <p>Language for dynamic interactivity and logic.</p>
    </div>
    <div class="skill-card">

        <img src="/images/react.webp" alt="react" style="width: 70px; height: 70px;" />
      <h3>React</h3>
      <p>Understanding component-based architecture, and managing component lifecycle.</p>
    </div>

    <div class="skill-card">
        <img src="/images/node.png" alt="Node.js" style="width: 70px; height: 70px;" />
      <h3>Node.js</h3>
      <p>Backend runtime environment for JS apps.</p>
    </div>
  </div>
</section>
<section class="projects-section">
    <h2 class="header">Programming</h2>
    <div class="skills-wrapper">
      <div class="skill-card">
        <img src="/images/c.png" alt="C language" style="width: 70px; height: 70px;" />
      <h3>C Language</h3>
      <p>Data Stucture and Algorithm</p>
      </div>
      <div class="skill-card">
        <img src="/images/java.webp" alt="C language" style="width: 70px; height: 70px;" />
      <h3>Java</h3>
      <p>Advance Java and and Object Oriented Programming</p>
      </div>
      <div class="skill-card">
        <img src="/images/phython.png" alt="C language" style="width: 60px; height: 60px;" />
      <h3>Python</h3>
      <p>Build logic and problem-solving Data Science</p>
      </div>
    </div>
</section>
<section class="projects-section">
    <h2 class="header">Graphic Design</h3>
    <div class="skills-wrapper">
      <div class="skill-card">
        <img src="/images/canva.png" alt="C language"  style="width: 70px; height: 70px;" />
      <h3>Canva</h3>
      <p>Using Canva's tools to create various visual content to understanding design principles like color theory, typography, and layout</p>
      </div>
      <div class="skill-card">
        <img src="/images/figmaapp.png" alt="C language" style="width: 70px; height: 70px;" />
      <h3>Figma</h3>
      <p>UI design, interaction design, prototyping, design systems, and the ability to collaborate effectively with other team members</p>
      </div>
    </div>
</section>


<%- include('partials/footer') %>
