<%- include('partials/header') %>

<section class="hero">
  <div class="hero-container">
    <div class="hero-text">
      <h1>Hello, I'm <span>Prakash Rathod</span></h1>
      <p>
        I'm a graphic designer, web developer, and athlete with a passion for
        creativity, technology, and fitness.
      </p>
    </div>
    <div class="hero-image">
      <img
        src="/images/portfolia website.jpg"
        alt="prakash"
        class="profile-photo"
      />
    </div>
  </div>
</section>
<!-- <section class="hero">
  <div class="social-box">
    <div class="social-item">
      <img src="/images/linkden.png" alt="LinkedIn" class="social-icon" />
      <a href="https://www.linkedin.com/in/prakashrathod" target="_blank"
        >@prakashrathod</a
      >
    </div>
    <div class="social-item">
      <img src="/images/github.png" alt="GitHub" class="social-icon" />
      <a href="https://github.com/prakashrathod" target="_blank"
        >@prakashrathod</a
      >
    </div>
  </div>
</section> -->

<%- include('partials/footer') %>
