<%- include('partials/header') %>
<section>
  <h2>My Projects</h2>
  <div class="class="skills-container"">
    <h4>Simon Game</h4>
    <p><strong>Language</strong>: HTML || CSS || JavaScript</p>
   <a href="https://github.com/rathodprakash-123/Simon-Game" target="_blank"><img src="/images/simon-start.png" alt="simon game" class="profile-photo" style="margin-top: 8px;"></a>
    <a href="https://github.com/rathodprakash-123/Simon-Game" target="_blank"><img src="/images/simon-end.png" alt="simon game" class="profile-photo" style="margin: 8px 0px 0px 5px;"></a>
   <p class="skill-category">The Simon Game is a classic memory-based game built using HTML, CSS, and JavaScript. The game challenges players to recall and replicate an increasingly complex sequence of button flashes. Each correct sequence takes the player to a higher level, and the game continues until a mistake is made.</p>
  </div>
  <div class="class="skills-container"">
    <h4>Socil Media Poster</h4>
    <p><strong>App</strong>:Canva(GraphicDesign)</p>
   <a href="https://www.canva.com/design/DAGd1aKxRhk/90NtwT6JpdDqLeISUh7oxg/view?utm_content=DAGd1aKxRhk&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=hf20cf56da2" target="_blank"><img src="/images/Graphic1.png" alt="Graphic design" class="profile-photo" style="margin-top: 8px; width: 205px !important; height:265px !important; border-radius:0px !important;"></a></a>
   <a href="https://www.canva.com/design/DAGkZD3GlNY/0u3Bii7DK0ZaQ5CEC7Hq7A/view?utm_content=DAGkZD3GlNY&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=hd24b3cdcae" target="_blank"><img src="/images/Graphic2.png" alt="Graphic design" class="profile-photo" style="margin: 8px 0px 0px 10px; width: 205px !important; height: 265px !important;border-radius:0px !important;"></a>
   <a href="https://www.canva.com/design/DAGmrMGIOII/d0Fvy6BN_9nFc1XBBGfocw/view?utm_content=DAGmrMGIOII&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=h0db5407407" target="_blank"><img src="/images/Graphic3.png" alt="Graphic design" class="profile-photo" style="margin: 8px 0px 0px 10px; width: 205px !important; height: 265px !important; border-radius:0px !important;"></a></a>
   <p class="skill-category">I specialize in creating visually appealing and professional social media posts using Canva. Whether you're looking to grow your brand, promote a product, or boost engagement, I design content tailored to your goals and audience- designed with Canva, crafted for impact.</p>
  </div>
  <div class="class="skills-container"">
    <h4>UI/UX design</h4>
    <p><strong>App</strong>:Figma </p>
   <a href=""><img src="/images/figma.png" alt="figma game" class="profile-photo" style="margin-top: 8px; width: 610px !important; height: 360px !important;"></a>
   <p class="skill-category">I design clean, intuitive, and engaging UI/UX using Figma – the industry-standard tool for collaborative and responsive design.</p>
  </div>
</section>
<%- include('partials/footer') %>