<%- include('partials/header') %>
<section>
  <h2>My Projects</h2>
  <div class="class="skills-container"">
    <h4>Simon Game</h4>
    <p><strong>Language</strong>: HTML || CSS || JavaScript</p>
   <a href="https://github.com/rathodprakash-123/Simon-Game"><img src="/images/simon-start.png" alt="simon game" class="profile-photo" style="margin-top: 8px;"></a>
    <a href="https://github.com/rathodprakash-123/Simon-Game"><img src="/images/simon-end.png" alt="simon game" class="profile-photo" style="margin: 8px 0px 0px 5px;"></a>
   <p class="skill-category">The Simon Game is a classic memory-based game built using HTML, CSS, and JavaScript. The game challenges players to recall and replicate an increasingly complex sequence of button flashes. Each correct sequence takes the player to a higher level, and the game continues until a mistake is made.</p>
  </div>

</section>
<%- include('partials/footer') %>