<%- include('partials/header') %>
<section>
  <h2>My Projects</h2>

  <!-- Project1 -->

  <div class="class="skills-container"">
    <h4>Simon Game</h4>
    <p><strong>Language</strong>: HTML || CSS || JavaScript</p>
   <a href="https://github.com/rathodprakash-123/Simon-Game" 
      target="_blank" style="text-decoration: none;">
      <img  src="/images/simon-start.png" 
            alt="simon game" 
            class="profile-photo" 
            style="margin-top: 8px;">
   </a>
    <a href="https://github.com/rathodprakash-123/Simon-Game" 
        target="_blank"style="text-decoration: none;">
        <img  src="/images/simon-end.png" 
              alt="simon game" 
              class="profile-photo" 
              style="margin: 8px 0px 0px 5px;">
    </a>
    <p class="skill-category">The Simon Game is a classic memory-based game built using HTML, CSS, and JavaScript. The game challenges players to recall and replicate an increasingly complex sequence of button flashes. Each correct sequence takes the player to a higher level, and the game continues until a mistake is made.</p>
  </div>

   <!-- Project2 -->

  <div class="class="skills-container"">
    <h4>Whether-app</h4>
    <p><strong>Language</strong>: EJS || CSS || JavaScript || Node.js</p>
    <a  href="https://github.com/rathodprakash-123/whether-system" 
        target="_blank" 
        style="text-decoration: none;">
        <img  src="/images/whether2.png" 
              alt="whether-system" 
              class="profile-photo" 
              style="margin-top: 8px;"></a>
    <a  href="https://github.com/rathodprakash-123/whether-system" 
        target="_blank"
        style="text-decoration: none;">
        <img  src="/images/whether1.png" 
              alt="whether-system" 
              class="profile-photo" 
              style="margin: 8px 0px 0px 5px;"></a>
    <button 
      style="padding: 10px 20px;
          margin: 15px 0px 15px 0px;
          font-weight: 355;
          font-size: medium;
          width: 82%;
          height: 20%;
          background-color: #1d6331;
          color: white;
          border: none;
          border-radius: 8px; 
          ">
      <a  href="https://whether-system.onrender.com" 
          target="_blank"
          style="text-decoration: none;color: #f9fafa;font-size: medium;">
                Live On</a>
    </button>
   
   <p class="skill-category">The Weather App is a dynamic web application that allows users to search for real-time weather information for any city around the world. It is built using Node.js, Express.js, and EJS templating, with weather data fetched from the OpenWeatherMap API.Users simply enter a city name, and the app displays the current temperature, weather conditions, humidity, wind speed, and the local time of that location.</p>
  </div>

 <!-- Project3 -->

  <div class="class="skills-container"">
    <h4>Socil Media Poster</h4>
    <p><strong>App</strong>:Canva(GraphicDesign)</p>
   <a href="https://www.canva.com/design/DAGd1aKxRhk/90NtwT6JpdDqLeISUh7oxg/view?utm_content=DAGd1aKxRhk&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=hf20cf56da2" 
      target="_blank"
      style="text-decoration: none;">
   <img 
    src="/images/Graphic1.png" 
    alt="Graphic design" 
    class="profile-photo" 
    style="margin-top: 8px;
          width: 205px !important;
          height:265px !important;
          border-radius:0px !important;">
  </a>

   <a href="https://www.canva.com/design/DAGkZD3GlNY/0u3Bii7DK0ZaQ5CEC7Hq7A/view?utm_content=DAGkZD3GlNY&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=hd24b3cdcae" 
      target="_blank"
      style="text-decoration: none;">
   <img 
    src="/images/Graphic2.png" 
    alt="Graphic design" 
    class="profile-photo" 
    style="margin: 8px 0px 0px 10px; 
          width: 205px !important; 
          height: 265px !important;
          border-radius:0px !important;">
  </a>
   <a href="https://www.canva.com/design/DAGmrMGIOII/d0Fvy6BN_9nFc1XBBGfocw/view?utm_content=DAGmrMGIOII&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=h0db5407407" 
   target="_blank"
   style="text-decoration: none;">
   <img 
    src="/images/Graphic3.png" 
    alt="Graphic design" 
    class="profile-photo" 
    style="margin: 8px 0px 0px 10px; 
          width: 205px !important; 
          height: 265px !important; 
          border-radius:0px !important;">
  </a>
   <p class="skill-category">I specialize in creating visually appealing and professional social media posts using Canva. Whether you're looking to grow your brand, promote a product, or boost engagement, I design content tailored to your goals and audience- designed with Canva, crafted for impact.</p>
  </div>
</section>
<%- include('partials/footer') %>