<%- include('partials/header') %>

<section>
  <h2>My Projects</h2>

  <!-- Project1 -->

  <div class="class="skills-container"">
    <h4>Simon Game</h4>
   <a href="https://github.com/rathodprakash-123/Simon-Game" 
      target="_blank" style="text-decoration: none;">
      <img  src="/images/simon-start.png" 
            alt="simon game" 
            class="profile-photo" 
            style="margin-top: 8px;">
   </a>
    <a href="https://github.com/rathodprakash-123/Simon-Game" 
        target="_blank"style="text-decoration: none;">
        <img  src="/images/simon-end.png" 
              alt="simon game" 
              class="profile-photo" 
              style="margin: 8px 0px 0px 5px;">
    </a>
    <p class="skill-category">The Simon Game is a classic memory-based game built using HTML, CSS, and JavaScript. The game challenges players to recall and replicate an increasingly complex sequence of button flashes. Each correct sequence takes the player to a higher level, and the game continues until a mistake is made.</p>
  </div>

   <!-- Project2 -->

  <div class="class="skills-container"">
    <h4>Whether-app</h4>
    <a  href="https://github.com/rathodprakash-123/whether-system" 
        target="_blank" 
        style="text-decoration: none;">
        <img  src="/images/whether2.png" 
              alt="whether-system" 
              class="profile-photo" 
              style="margin-top: 8px;"></a>
    <a  href="https://github.com/rathodprakash-123/whether-system" 
        target="_blank"
        style="text-decoration: none;">
        <img  src="/images/whether1.png" 
              alt="whether-system" 
              class="profile-photo" 
              style="margin: 8px 0px 0px 5px;"></a>
      <br>
    <button 
      style="padding: 10px 20px;
          margin: 15px 0px 15px 0px;
          font-weight: 355;
          font-size: medium;
          width: auto;
          height: auto;
          background-color: #1d6331;
          color: white;
          border: none;
          border-radius: 10px; 
          ">
      <a  href="https://whether-system.onrender.com" 
          target="_blank"
          style="text-decoration: none;color: #f9fafa;font-size: medium;">
                Live On</a>
    </button>
   
   <p class="skill-category">The Weather App is a dynamic web application that allows users to search for real-time weather information for any city around the world. It is built using Node.js, Express.js, and EJS templating, with weather data fetched from the OpenWeatherMap API.Users simply enter a city name, and the app displays the current temperature, weather conditions, humidity, wind speed, and the local time of that location.</p>
  </div>

 <!-- Project3 -->
    <div class="class="skills-container"">
    <h4>Airnb Clone</h4>
    <a  href="https://github.com/rathodprakash-123/Airnb-clone" 
        target="_blank" 
        style="text-decoration: none;">
        <img  src="/images/airnb.png" 
              alt="airnb" 
              class="profile-photo" 
              style="margin-top: 8px;"></a>
      <a  href="https://github.com/rathodprakash-123/Airnb-clone" 
        target="_blank"
        style="text-decoration: none;">
        <img  src="/images/airnb2.png" 
              alt="whether-system" 
              class="profile-photo" 
              style="margin: 8px 0px 0px 5px;"></a>
      <br>
    <button 
      style="padding: 10px 20px;
          margin: 15px 0px 15px 0px;
          font-weight: 355;
          font-size: medium;
          width: auto;
          height: auto;
          background-color: #be0a0a;
          color: white;
          border: none;
          border-radius: 10px; 
          ">
      <a  href="https://airnb-clone-hf1s.onrender.com" 
          target="_blank"
          style="text-decoration: none;color: #f9fafa;font-size: medium;">
                Live On</a>
    </button>
   
   <p class="skill-category">This is a full-stack Airbnb-inspired web application built using Node.js, Express, MongoDB, EJS, and Bootstrap/Tailwind. It allows users to explore, list, and manage rental properties, simulating core functionalities of Airbnb.</p>
  </div>

</section>
<%- include('partials/footer') %>